<html>
    <head>
        <title> Your Inquery Added Successfully </title>
    </head>

    <body>
        
        <h1>Inquery Successfully Added</h1>
        <h1> ON DATE  = {{inq_date}}</h1>
        <br>
        <h1>We have accepted all your details</h1>
        <h3>we contact you soon</h3> 
        <br>
        <br>
        <br>
        <br>    
        <h5>Course Name = {{course.course_name}}</h5>
        <h5>Course Duration = {{course.duration}}</h5>
        <h5>Course Fees = {{course.fees}}</h5>
        <h5>Course Teaching Person = {{course.course_teaching_person}}</h5>
        <h5>Student Name = {{stud.fname}} </h5>   
        <h5>Student Mobile = {{stud.mob}} </h5>

    </body>   
</html>